<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
             
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  User
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/api/createuser"> Add User</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                
              </li>
             
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Genre
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/api/admin/genre"> Add Genre</a></li>
                    <li><a class="dropdown-item" href=" /api/genres">Show Genres</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                
              </li>
              
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Video
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/video/add/genre"> Add Video</a></li>
                    <li><a class="dropdown-item" href=" /api/videos">Show All Videos</a></li>
                    <li><a class="dropdown-item" href=" /api/video/requirements">Show Video By Id</a></li>
                    <li><a class="dropdown-item" href="/api/genres/requirements/videos">Show Video By Genre Id</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/api/admin/videos/updatebyvideoid">Something else here</a></li>
                  </ul>
                
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      
    <div th:each="genre:${genres}">
            <h2>Name : </h2>
    
    <h4 th:text="${genre.name}"></h4>
        <h2>Description : </h2>
    
    <h4 th:text="${genre.Description}"></h4>
    <form th:action=" @{'/api/admin/genresupdate/'+${genre.genre_id}}" >
   <br>
    <button type="submit">Edit</button>
	</form>
	 <form th:action="@{'/api/admin/genres/'+${genre.genre_id}}" >
   <br>
    <button type="submit">Delete</button>
    
	</form>
	<br>
    </div>
</body>
</html>